<div class="min-h-screen bg-gray-950 text-gray-100 flex flex-col">
  
  <app-header></app-header>
  
  <main class="flex-grow px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto w-full"> 
    <router-outlet></router-outlet>
  </main>
  
  <app-reminder-notification-modal
    *ngIf="reminderCheckService.dueReminder$ | async as dueReminder"
    [reminder]="dueReminder"
    (close)="closeReminderNotification()"
    (markComplete)="markReminderComplete($event)"
    (snooze)="snoozeReminder($event)">
  </app-reminder-notification-modal>
  
</div>